<%- include('partials/header') -%>
<div class="container w-25 mt-2">
    <%- include('partials/messages') -%>
    <h1 class="text-center">Dashboard</h1>
</div>

<div class="container mt-5">

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Blood Group</th>
                <th>Mobile Number</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <% Doners.forEach((d)=> { %>
                <tr>
                    <td>
                        <%= d.name %>
                    </td>
                    <td>
                        <%= d.bloodGroup %>
                    </td>
                    <td>+
                        <%= d.mobilenumber %>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="/edit/<%= d.id %>">Edit</a>
                        <form style="display: inline;" action="/delete/<%= d.id %>?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>


        </tbody>
    </table>
</div>
<%- include('partials/footer') -%>